---
import type { GetStaticPaths, InferGetStaticPropsType } from "astro";
import Layout from "~layouts/Layout.astro";
import { getTermsCollection } from "~utils/terms";

export const getStaticPaths = (async () => {
	const terms = await getTermsCollection();

	return await Promise.all(
		terms.map(async (term) => ({
			params: { slug: term.slug },
			props: {
				term,
			},
		})),
	);
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { term } = Astro.props;
const { Content } = await term.render();
---

<Layout title={term.frontmatter.title}>
	<article class="prose mx-auto">
		<h1>{term.frontmatter.title}</h1>
		<Content />
	</article>
</Layout>

<style>
:global(.drawio) {
	@apply grid place-items-center bg-white rounded px-4 py-6 shadow-sm;

	& > :global(img) {
		@apply m-0 max-w-full;
	}
}
</style>