---
import type { GetStaticPaths, InferGetStaticPropsType } from "astro";
import Layout from "~layouts/Layout.astro";
import { parseMarkdown } from "~utils/markdown";
import { getTermsCollection } from "~utils/terms";

export const getStaticPaths = (async () => {
	const terms = await getTermsCollection();

	return await Promise.all(
		terms.map(async (term) => ({
			params: { slug: term.slug },
			props: {
				term,
				html: await parseMarkdown(term.markdown),
			},
		})),
	);
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { term, html } = Astro.props;
---

<Layout title={term.title}>
  <h1>{term.title}</h1>
	<div set:html={html} />
</Layout>