---
import Layout from "~layouts/Layout.astro";
import { getTermsCollection } from "~utils/terms";
import { getUrl } from "~utils/url";

const terms = await getTermsCollection();
---

<Layout title='FrontEnd Terms'>
  <div class="max-w-screen-sm mx-auto">
    <ul class="menu">
      {terms.map((term) => (
        <li>
          <a href={getUrl('terms', term.slug)}>{term.frontmatter.title}</a>
        </li>
      ))}
    </ul>
  </div>
</Layout>